
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Ubuntu', sans-serif;
}

body{
background: #fcfeff;
}

.just_flex{
display: flex;
}

.main_container .navbar_wrapper{
width: 100%;
background: #0071bc;
height: 55px;
}

.main_container .navbar_wrapper .navbar{
width: 75%;
margin: 0 auto;
height: 100%;
justify-content: space-between;
align-items: center;
}

.main_container .navbar_wrapper .navbar .left_navbar{
align-items: center;
}

.main_container .navbar_wrapper .navbar .logo a{
font-size: 24px;
color: #fff;
margin-right: 25px;
text-transform: uppercase;
font-weight: 600;
  letter-spacing: 2px;
}

.main_container .navbar_wrapper .navbar .menu li a{
color: #cce3f3;
margin: 0 10px;
display: block;
}

.main_container .navbar_wrapper .navbar .menu li a:hover{
color: #fff;
}

.main_container .navbar_wrapper .navbar .right_navbar{
height: 100%;
}

.main_container .navbar_wrapper .navbar .right_navbar a{
display: block;
height: 100%;
background: #fcfeff;
color: #0071bc;
padding: 18px 20px;
}

.main_container .navbar_wrapper .navbar .right_navbar a:hover{
color: #cce3f3;
}

.login_wrapper{
width: 800px;
height: 420px;
margin: 120px auto 0;
box-shadow: 0 0 3px #c0e3fb;
}

.login_wrapper .city_img{
width: 400px;
background: url("Users/shotime/Desktop/LifeStyle/city_bg.jpg") no-repeat center center;
height: 100%;
background-size: cover;
position: relative;
}

.login_wrapper .city_img:before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0071bc;
opacity: 0.7;
}

.login_wrapper .city_img p{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: #fff;
font-size: 36px;
}

.login_wrapper .login{
background: #fff;
width: 400px;
}

.login_wrapper .login .title {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: #0071bc;
  border-bottom: 1px solid #e2e3e3;
}

.login_wrapper .login .login_inputs {
  padding: 38px 25px;
}

.login_wrapper .login .login_inputs .input_field {
  margin-bottom: 15px;
  width: 100%;
  height: 50px;
  position: relative;
}

.login_wrapper .login .login_inputs .input_field:first-child {
  margin-bottom: 25px;
}

.login_wrapper .login .login_inputs .input {
  width: 100%;
  height: 100%;
  border: 1px solid #e2e3e3;
  border-radius: 3px;
  font-size: 16px;
  outline: none;
  padding: 25px 45px 10px 15px;
}

.login_wrapper .login .login_inputs .input:focus{
border-color: #0071bc;
}

.login_wrapper .login .login_inputs .input_field .label{
position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  color: #e2e3e3;
  font-size: 14px;
  transition: all 0.2s ease;
}

.login_wrapper .login .login_inputs .input_field.active .label{
top: 30%;
font-size: 12px;
}

.login_wrapper .remember_forgot {
  display: flex;
  justify-content: space-between;
}

.login_wrapper .checkbox_container {
  display: block;
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.login_wrapper .checkbox_container input[type="checkbox"]{
position: absolute;
width: 0;
height: 0;
opacity: 0;
cursor: pointer;
}

.login_wrapper .checkbox_container .checkbox_mark{
position: absolute;
top: 0;
left: 0;
border: 1px solid #cce3f3;
width: 16px;
height: 16px;
border-radius: 3px;
}

.login_wrapper .checkbox_container .checkbox_mark:before{
content: "";
position: absolute;
top: 2px;
left: 2px;
width: 6px;
height: 2px;
border: 2px solid;
border-color: transparent transparent #fff #fff;
transform: rotate(-45deg);
}

.login_wrapper .checkbox_container input[type="checkbox"]:checked ~ .checkbox_mark{
background: #0071bc;
border: 1px solid #0071bc;
}

.login_wrapper .checkbox_container .checkbox_text{
color: #e2e3e3;
}

.login_wrapper .login_btn a {
  margin: 25px 0;
  width: 100%;
  background: #0071bc;
  color: #cce3f3;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}

.login_wrapper .login_btn a:hover{
color: #fff;
}

.login_wrapper .new_account{
text-align: center;
color: #0071bc;
cursor: pointer;
text-transform: uppercase;
}

.forgot_pwd a {
  color: #0071bc;
}

.forgot_pwd a:hover{
text-decoration: underline;
}
